/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
ul,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for images */
img {
  max-width: 100%;
  display: block;
}

/* Hide tab-desk */
.tab-desk {
  display: none;
}

/* Style rules for header content */
header {
  text-align: center;
  font-size: 1.5em;
  color: #c43030;
  background: radial-gradient(#f8db71, #c43030);
}

header h1 {
  font-family: "Courier New", Courier, monospace;
}

/* Style rules for navigation area */
nav {
  background-color: #1852ff;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: block;
  font-size: 2em;
  border-top: 1px solid #ffffff;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}

/* Style rules for main content */
main {
  padding: 0;
  background-color: #ffffff;
  overflow: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

main p {
  font-size: 1.25em;
}

.action {
  font-size: 1.25em;
  color: #c43030;
  font-weight: bold;
}

#infos {
  background: linear-gradient(to bottom, #1893ff, #ffffff);
  margin: 0;
  width: auto;
  padding: 20px 40px;
}

/* Style rules for game grid */
/* Using a grid to display multiple games flexibly */
.game-grid {
  padding: 50px 0px;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, auto);
  gap: 12px;
}

.game {
  align-items: center;
  padding: 25px 25px;
  font-size: 12px;
  transition: all 0.3s ease; /* Together with the transform function in the hover pseudoclass makes transition look smooth */
  text-decoration: none;
  color: #000000;
  width: 150px;
  height: 180px;
}

.game:hover {
  transform: translateY(-8px);
}

.game img {
  margin-bottom: 10px;
}

/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.65em;
  clear: left;
}

footer a {
  color: #3051ae;
  text-decoration: none;
}

/* Media Query for Mobile Viewport */
@media screen and (max-width: 599px), print {
  /* Mobile Viewport: Show mobile class, hide tab-desk */
  .tab-desk {
    display: none;
  }
  .mobile {
    display: block;
  }

  /* Mobile Viewport: adjust grid columns to 1 */
  .game-grid {
    grid-template-columns: repeat(1, auto);
  }

  /* Mobile Viewport: only display first nav list element for all except the home page */
  nav li {
    display: none;
  }
  nav li:first-child {
    display: block;
  }
  #home nav li {
    display: block;
  }
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 600px), print {
  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk {
    display: block;
  }
  .mobile {
    display: none;
  }

  /* Tablet Viewport: Style rule for header content */
  span.tab-desk {
    display: inline;
  }

  /* Tablet Viewport: Style rules for nav area */
  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.5em;
    border-right: 1px solid #ffffff;
  }
  nav li:last-child {
    border-right: none;
  }
  nav li a {
    padding: 0.25em 0.5em;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {
  /* Desktop Viewport: Style rule for header */
  header {
    padding: 2%;
  }

  /* Desktop Viewport: Style rules for nav area */
  nav li a {
    padding: 0.5em 1.5em;
  }
  nav li a:hover {
    color: #c43030;
    background-color: #ffffff;
  }
}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}
