/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Emblema+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
/* Reset */
body,
header,
nav,
main,
footer,
img,
h1,
ul,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "BHH Sans Hegarty", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bgimg {
  width: 100%;
  height: 92%;
  z-index: -1;
  position: absolute;
  transform: translateX(100px);
}

/* Base layout */
body {
  background-color: #000000;
  color: #fff;
  overflow-x: hidden;
  padding-top: 70px;
}

/* Header */
header {
  text-align: center;
  font-size: 2em;
  color: #fff;
  background-color: transparent;
  padding-top: 20px;
}

header h1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Lora";
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(77, 89, 101, 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 22px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}

nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 0;
  transition: color 0.3s ease;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav li a:hover {
  color: #9eb2c1;
}

/* Main section */
main {
  margin-top: 0;
  padding: 20px 0 40px 0;
  text-align: center;
  transform: translateX(-350px);
}

#infos {
  max-width: auto;
  margin: auto;
  padding: 20px;
}

#infos h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
  font-weight: 600;
}

#infos p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #d0d0d0;
}

.action {
  color: #ff5c5c;
  font-weight: 700;
  font-size: 1.2em;
}

/* Game Grid */
#gameLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.game-grid {
  display: grid;
  gap: 24px;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, auto);
}

.game {
  background: #1d2f44;
  border: 2px solid #4d5965;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  width: 160px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.game img {
  width: 70px;
  margin-bottom: 10px;
  user-select: none;
  filter: invert(1) brightness(1.8) contrast(1.2);
}

.game p {
  font-size: 1em;
}

.game:hover {
  transform: translateY(-8px);
  border-color: #9eb2c1;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 0;
  padding: 20px 0;
  font-size: 0.9em;
  color: #ccc;
}

footer a {
  color: #9eb2c1;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

#number,
#word,
#pattern,
#sequence,
#classic {
}
